<div class='main-container-catalog-page'>
  <h1 class="title-page">CATALOGUE</h1>

  <div class='container-category' *ngFor="let title of categoryResult">
    <h2 class='category-title'>{{title.label}}</h2>
    <ng-container *ngFor="let name of productsResult; let i = index">
      <div class="container-product" *ngIf="title.id === name.category_id">
        <div class="container-product-left">
          <img class="thumbnail-url" src="{{name.thumbnail_url}}">
          <div class="price">{{name.price}}€</div>
        </div>
        <div class="container-product-center">
          <div class="label-product">{{name.label}}</div>
          <div class="description">{{name.description}}€</div>
          <div class="container-button">
            <button>AJOUTER AU PANIER</button>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>


<router-outlet></router-outlet>
