<div class='main-container-catalog-page'>
  <h1 class="title-page">PANIER</h1>
  <div class='container-category' >
    <h2 class='category-title'></h2>
    <ng-container >
      <div class="container-product" >
        <div class="container-product-left">
          <img class="thumbnail-url">
          <div class="price"></div>
        </div>
        <div class="container-product-center">
          <div class="label-product"></div>
          <div class="description"></div>
          <div class="container-button">
            <button></button>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>

<div></div>


<router-outlet></router-outlet>
